<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>[neither machine]</title>
		<link rel="stylesheet" type="text/css" href="vvvvvvuhhhhh.css" />	
	</head>
	<body>
		<div id="bzeee">
			<div id="leeeft">
				<h1>Neither Machine</h1>
				<p id="bio">Music. Codes. I'm a student, a barista, and geek. Chiptunes. Boss fights. I like my bicycle, and riding it in the sunshine. I also ride it in the rain. Cloudy days are acceptable. Bit reduction. Vocoders. Giant Communist Robot. Explosions. Mind games. Extra lives. Mosh pits. Espresso, but not the stuff from my coffee shop. Synthesizers. Kittens. Adventures. Cycling everywhere. Party to party. Code all night. Fall asleep at the keyboard. Repeat.</p>
				<p id="links">
					<a href="#"></a>
				</p>
				<p id="infoz">This site was designed by me.<br />Nothing special.<br />Just Ruby generating static pages.</p>
			</div>
			<div id="riiight">
				<h1><%= c['title'] %></h1>
				<% first = true %>
				<% c['content'].each do |l| 
					if first then
						first = false %>
				<p id="first"><%= l %></p>
				<% else %>
					<p><%= l %></p>
				<% end end %>
			</div>
		</div>
	</body>
</html>
